@model CalculadoraNash.ViewModels.PacienteViewModel

<h2>Paciente</h2>

@Html.LabelFor(Model => Model.Nome)
@Html.EditorFor(Model => Model.Nome)
@Html.LabelFor(Model => Model.PacienteDados.Idade)
@Html.EditorFor(Model => Model.PacienteDados.Idade)

